h1 {
    text-align: center;
    margin-top: 100px;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

.results {
    align-items: center;
}

.photos {
    display: flex;
    padding: 50px;
    align-content: center;
}

.cheese-photo {
    width: 500px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 5px 5px darkslategray;
    margin-left: 200px;
    margin-right: 150px;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    padding-left: 450px;
    padding-right: 300px;
}
